<link rel="stylesheet" href="/css/dashboard-styling.css" />
<div>
  <div class="page-wrapper">
    <div class="container">
      <div class="sub-container">
        <div class="funds-showcase">
          <h1>Available Balance</h1>
          <p>Account Number : <%= loggedUser.accountNumber %></p>
          <h2><%= new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(loggedUser.balance) %></h2>
          <div class="transfer-button">
            <a href="/transfer" id="showcase-button">Transfer Funds</a>
            <a href="/transactions" id="showcase-button">View Transactions</a>
          </div>
        </div>

        <div class="cards-showcase">
          <h1>Your Card</h1>
          <p><%= loggedUser.cardType.toUpperCase() %></p>
          <img src="/assets/card.png">
          <p>Valid until <%= formattedExpiry %></p>
          <a href="#" id="showcase-button">See Card Detail</a>
          <a href="#" id="showcase-button">Debit Card Promos</a>
        </div>

        <div class="deposit-showcase">
          <h1>Time Deposit</h1>
          <p>Deposited Cash</p>
          <h2><%= new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(loggedUser.deposit) %></h2>
          <p>Tenor : 6 Months</p>
          <a href="#" id="showcase-button">Add Funds</a>
          <a href="#" id="showcase-button">Withdraw</a>
          <a href="#" id="showcase-button">See Details</a>
        </div>

        <div class="chart-showcase">
          <h1>Your Last 30 Days Transactions</h1>
          <img src="/assets/chart.png">
        </div>
      </div>
    </div>
  </div>
</div>